<nav>
  {{#each}}
    <button {{bind-attr name=numberName }}>{{#link-to 'number' id}} {{numberName}} {{/link-to}}</button>
  {{/each}}
</nav>
<button name="add">{{#link-to 'additions'}}Add{{/link-to}}</button>
{{outlet}}
